@import "src/scss/mixins.scss";

.ant-layout {
  height: calc(100vh - 2.5rem);
  overflow: auto;
}

.button-collapsed {
  position: absolute;
  z-index: 1003;
  top: 3.5rem;
  left: 2rem;
  // width: 4rem;
  // height: 4rem;
  font-size: 2.6rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-layout-sider {
  height: calc(100vh - 2.5rem);

  @include laptop {
    position: absolute;
    z-index: 1002;
  }
}

// hide siderbar default
.ant-layout-sider-zero-width-trigger.ant-layout-sider-zero-width-trigger-left {
  display: none;
}