.Navbar-root {
  width: 20%;
  background-color: rgb(238, 238, 238);
  padding-top: 2.5rem;
  text-align: left;
  padding-left: 4rem;
  .NavLogo-root {
    padding-left: 1rem;
  }
  .nav-link {
    border-bottom: 1px solid #ccc;
    color: #333;
    text-decoration: none;
    line-height: 3;
    padding: 0.5rem 0 0 1.5rem;
    transition: all 300ms ease-out;
    font-size: 1.8rem;

    .nav-link &:hover {
      cursor: pointer;
    }
  }

  .nav-link-active {
    box-sizing: content-box;
    padding-left: 0.5rem;
    background: rgba(#ccc, 0.1);
    border-left: solid 1rem #ccc;
    color: rgb(28, 101, 236);
    font-weight: 700;
  }
}
